---
- name: Prepare Base OS
  hosts: all
  become: true
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
    - name: Install dependencies
      apt:
        name: 
          - curl
          - git
          - wireguard-tools
        state: present

- name: Install Netclient (Mesh Fabric)
  hosts: all
  become: true
  tasks:
    - name: Check if netclient is installed
      command: which netclient
      register: netclient_check
      ignore_errors: true
    
    # We will need the Enrollment Key from the user
    - name: Join Netmaker Network
      shell: "netclient join -t {{ netmaker_token }}"
      when: netclient_check.rc != 0 and netmaker_token is define

- name: Install K3s (Master)
  hosts: masters
  become: true
  tasks:
    - name: Install K3s Master
      shell: "curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC='--flannel-backend=none --disable-network-policy --disable=traefik' sh -"
      args:
        creates: /etc/rancher/k3s/k3s.yaml

- name: Get K3s Token
  hosts: masters
  become: true
  tasks:
    - name: Read Node Token
      slurp:
        src: /var/lib/rancher/k3s/server/node-token
      register: node_token_b64

- name: Install K3s (Workers)
  hosts: workers
  become: true
  tasks:
    - name: Install K3s Worker
      shell: "curl -sfL https://get.k3s.io | K3S_URL=https://{{ hostvars[groups['masters'][0]]['ansible_host'] }}:6443 K3S_TOKEN={{ hostvars[groups['masters'][0]]['node_token_b64']['content'] | b64decode | trim }} sh -"
      args:
        creates: /usr/local/bin/k3s-agent
